@font-face {
    font-family: 'iransans';
    src: url('../fonts/ttf/IRANSansWeb.ttf') format('truetype'),
    url('../fonts/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'),
    url('../fonts/woff/IRANSansWeb.woff') format('woff')
}
html, body {
    height: 100%;
}

.floatleft {
    float: left;
}

.floatright {
    float: right;
}

.alignleft {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
    margin-bottom: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

a:focus {
    outline: 0px solid;
}

img {
    max-width: 100%;
    height: auto;
}

.fix {
    overflow: hidden;
}

p {
    margin: 0 0 15px;
    color: #444;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 15px;
    color: #444;
    font-weight: 500;
}

h1 {
    font-size: 48px;
    line-height: 50px;
}

h2 {
    font-size: 38px;
    line-height: 40px;
}

h3 {
    font-size: 30px;
    line-height: 32px;
}

h4 {
    font-size: 24px;
    line-height: 26px;
}

h5 {
    font-size: 20px;
    line-height: 22px;
}

h6 {
    font-size: 16px;
    line-height: 20px;
}

a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

a:hover {
    color: #3EC1D5;
    text-decoration: none;
}

a:active, a:hover {
    outline: 0 none;
}

body {
    background: #fff none repeat scroll 0 0;
    color: #444;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-align: left;
    overflow-x: hidden;
    line-height: 22px;
}

/* Back to top button */
.back-to-top {
    position: fixed;
    display: none;
    background: #3EC1D5;
    color: #fff;
    padding: 6px 12px 9px 12px;
    font-size: 16px;
    border-radius: 2px;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
}

@media (max-width: 768px) {
    .back-to-top {
        bottom: 15px;
    }
}

.back-to-top:focus {
    background: #3EC1D5;
    color: #fff;
    outline: none;
}

.back-to-top:hover {
    background: #3cd6ed;
    color: #fff;
}

.clear {
    clear: both;
}

ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

input, select, textarea, input[type="text"], input[type="date"], input[type="url"], input[type="email"], input[type="password"], input[type="tel"], button, button[type="submit"] {
    -moz-appearance: none;
    box-shadow: none !important;
}

div#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #fff url('../img/preloader.gif') no-repeat center center;
}

::-moz-selection {
    background: #3EC1D5;
    text-shadow: none;
}

::selection {
    background: #3EC1D5;
    text-shadow: none;
}

.area-padding {
    padding: 70px 0px 80px;
}

.area-padding-2 {
    padding: 70px 0px 50px;
}

.padding-2 {
    padding-bottom: 90px;
}

.section-headline h2 {
    display: inline-block;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 70px;
    position: relative;
    text-transform: capitalize;
}

.section-headline h2::after {
    border: 1px solid #333;
    bottom: -20px;
    content: "";
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 40%;
}

.sec-head {
    display: inline-block;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 0;
    padding: 0 0 10px;
    text-transform: uppercase;
    transition: all 0.4s ease 0s;
}

/*--------------------------------*/

/*  2. Header top Area
/*--------------------------------*/

/*#product_part .container .row{
    display: block;
    background: #f9f9f9;
    height: 100vh;
}*/

.header-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background: rgba(0, 0, 0, 0.40);
  z-index: 9;
}

.navbar-header a.navbar-brand {
    display: inline-block;
    height: 70px;
    padding: 15px 0;
}
.main-menu ul.navbar-nav li {
    display: inline-block;
    padding: 0px 13px;
}

.main-menu ul.navbar-nav li a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding: 24px 0px;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.main-menu ul.navbar-nav li.active > a::after {
    border: 1px solid #fff;
    bottom: 0px;
    content: "";
    left: 0;
    position: absolute;
    width: 100%;
}

.main-menu ul.navbar-nav li.active a:hover {
    background: none;
    color: #fff;
}

.main-menu ul.navbar-nav li.active a:focus {
    color: #fff;
}

.main-menu ul.navbar-nav li.active a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #fff;
    position: relative;
}

.main-menu ul.navbar-nav li a:hover {
    color: #3EC1D5;
}
.navbar {
    border: medium none;
    margin-bottom: 0;
}

.navbar-default {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
/*
.main-menu ul.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background: none;
    color: #333;
}
*/
.navbar-default .navbar-toggle {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    padding: 25px 0px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: transparent;
    color: #fff;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background: none;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
    width: 30px;
    height: 2px;
}
.top-right.text-right {
    float: right;
    position: relative;
    top: 24px;
    margin-left: 20px;
}

.top-right.text-right > li {
    float: right;
    margin: 0px 8px;
}

.top-right.text-right li a {
    color: #fff;
}

.main-menu .dropdown ul {
    background: #000;
}

.main-menu .dropdown ul li {
    display: block;
}

/*--------------------------------*/

/* 2.1. Stick menu
/*--------------------------------*/

.header-area.stick {
    background-color: rgba(0, 0, 0, 1);
    height: 70px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.stick .navbar-header a.navbar-brand {
    display: inline-block;
    height: 90px;
}

.stick .navbar-brand > img {
    display: none;
}

.stick .navbar-brand.sticky-logo > img {
    display: block;
}

.sticky-logo h1 {
    color: #fff;
    padding: 0;
    margin: 0;
    font-size: 36px;
    font-weight: bold;
    line-height: 1;
}

.sticky-logo h1 span {
    color: #3ec1d5;
}
.stick .main-menu ul.navbar-nav li.active > a::after {
    border: 1px solid #fff;
    bottom: 0px;
    content: "";
    left: 0;
    position: absolute;
    width: 100%;
}

.stick .main-menu ul.nav > li > a:hover {
    color: #fff;
}

.stick .main-menu ul.navbar-nav li.active a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #fff;
    position: relative;
}

.stick .mainmenu ul#nav > li:hover > a, .stick .mainmenu ul#nav li .mega-menu, .stick .mainmenu ul#nav li ul.sub-menu {
    background-color: #f5f5f5;
    color: #fff;
    outline: medium none;
}

.stick .mainmenu ul#nav li:hover ul.sub-menu li a:hover, .mainmenu ul#nav li .mega-menu span > a:hover, .stick .mainmenu ul#nav li .mega-menu-shop a.mega-menu-title:hover {
    color: #fff;
}

.stick .logo {
    height: 20px;
}

.stick .logo a {
    margin-top: 0px;
}

.stick .main-menu ul.nav > li > a {
    color: #fff;
    line-height: 22px;
    padding: 24px 0px;
    text-transform: capitalize;
    letter-spacing: 1px;
}

/*.stick .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
    width: 30px;
    height: 2px;
}

.stick .navbar-default .navbar-toggle {
    padding: 10px 0px;
}*/

#home h1{
    direction: rtl;
    font-family: iransans;
}
/*------------------------------
  3. About Area
--------------------------------*/


#about .row *{
    direction: rtl;
    font-family: iransans;
}

.filter-button
{
    background: #d0d0d0;
    border: unset;
    font-size: 18px;
    text-align: center;
    margin: 15px 20px;

}
.filter-button:active
{
    background: #b5b5b5 !important;
    color: white !important;
}
.activeTab {
    background: #8b8b8b !important;
    color: white !important;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .filter-button{
        width: 100%;
        margin: 5px 0;
        text-align: center;
    }
    .gallery_product {
        width: 50% !important;
        margin: 0;
        padding: 4px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .filter-button{
        width: 100%;
        text-align: center;
    }
    .gallery_product {
        width: 30%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .filter-button{
        width: 12%;
        text-align: center;
    }
    .gallery_product {
        width: 30%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
.port-image
{
    width: 100%;
}

.gallery_product
{
    text-align: right;
    margin-bottom: 30px;
    float: right;
    width: 25%;
}

/*--------------------------------*/

/*clients*/
.owl-carousel
{
    touch-action: manipulation;
}
#clients {
    padding: 60px 0;
    text-align: right;
}
#clients *{
    font-family: iransans;
}

#clients img {
    max-width: 100%;
    opacity: 0.5;
    transition: 0.3s;
    padding: 15px 0;
}

#clients img:hover {
    opacity: 1;
}

#clients .owl-nav,
#clients .owl-dots {
    margin-top: 5px;
    text-align: center;
}

#clients .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ddd;
}

#clients .owl-dot.active {
    background-color: #18d26e;
}

/*----------------------------------------
 10.Portfolio Area Css
----------------------------------------*/
#portfolio {
    text-align: right !important;
    direction: rtl !important;
}
.pst-content {
    padding-left: 10px;
}

.project-menu {
    width: 100%;
    background: #dcdcdc;
    padding: 15px;
    margin-bottom: 10px;
    text-align: right;
    direction: rtl;
    float: right;
}

.project-menu li {
    display: inline-block;
    float: right;
    font-family: iransans;
}

.project-menu li a {
    border-radius: 20px;
    color: #444;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    margin: 0 8px;
    padding: 6px 15px;
    text-transform: capitalize;
    transition: all 0.3s ease 0s;
}

.project-menu li a.active, .project-menu li a:hover {
    border-color: #3EC1D5;
    background: #3EC1D5;
    color: #fff;
    text-decoration: none;
}

.single-awesome-portfolio {
    float: right;
    overflow: hidden;
    padding: 15px;
    width: 25%;
    position: relative;
    text-align: right;
    display: inline-block;
}

.single-awesome-project {
    float: right;
    overflow: hidden;
    margin-bottom: 30px;
}

.first-item {
    margin-bottom: 30px;
}

.awesome-img {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}

.awesome-img > a {
    display: block;
    position: relative;
}

.single-awesome-project:hover .awesome-img > a::after {
    opacity: 1;
}

.single-awesome-project:hover .add-actions {
    opacity: 1;
    bottom: 0;
}

.awesome-img > a::after {
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    content: "";
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.4s;
}

.add-actions {
    background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
    bottom: 30px;
    display: block;
    height: 100%;
    opacity: 0;
    overflow: hidden;
    padding: 10px 15px;
    transition: all 0.4s ease 0s;
    width: 100%;
}

.project-dec {
    display: block;
    height: 100%;
    width: 100%;
}

.project-dec a {
    display: block;
    height: 100%;
    width: 100%;
}

.project-dec h4 {
    margin-bottom: 5px;
}

.project-dec h4:hover {
    color: #fff;
}

.project-dec h4 {
    color: #ddd;
    font-size: 24px;
    margin-top: -45px;
    padding-top: 50%;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
}

.project-dec span {
    color: #ddd;
    font-size: 13px;
}

.project-action-btn {
    display: block;
    height: 100%;
    text-align: center;
    transition: all 1s ease 0s;
    width: 100%;
}

.project-action-btn li {
    display: block;
    height: 100%;
    width: 100%;
}

.project-action-btn li a {
    display: block;
    height: 100%;
    width: 100%;
}

/*----------------------------------------*/

/* Services Section
--------------------------------*/

#services {
    padding: 60px 0 40px 0;
}
#services .section-header {
    font-family: iransans !important;
    text-align: right;
    direction: rtl;
}
#services .box {
    padding: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin: 0 10px 40px 10px;
    background: #fff;
    box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
    transition: all 0.3s ease-in-out;
    text-align: center;
}

#services .box:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#services .icon {
    margin: 0 auto 15px auto;
    padding-top: 12px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

#services .icon i {
    font-size: 36px;
    line-height: 1;
}

#services .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}

#services .title a {
    color: #111;
}

#services .box:hover .title a {
    color: #1bb1dc;
}

#services .description {
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 0;
    text-align: left;
}
/*----------------------------------------*/

/*  16.Home Page 2  CSS
/*----------------------------------------*/

.header-bg {
    background: url(../img/slider/slider1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
}

.header-bg.home-2 {
    width: 100%;
    height: 100%;
    position: relative;
}

.home-overly {
    background: rgba(0, 0, 0, 0.50);
    height: 100%;
    position: absolute;
    width: 100%;
}

.home-2 .layer-1-3, .home-3 .layer-1-3 {
    margin: 10px 0 0;
}

/*----------------------------------------*/

/*  17.Home Page 3  CSS
/*----------------------------------------*/

.home-video {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.header-image.home-3 {
    width: 100%;
    height: 100%;
    position: relative;
}

.table {
    width: 100%;
    height: 100%;
    display: table;
}

.table-cell {
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

/*----------------------------------------
  18. Blog page
----------------------------------------*/

.page-area {
    position: relative;
}

.blog-page .banner-box {
    margin-bottom: 40px;
}

.search-option input {
    border: medium none;
    padding: 6px 15px;
    width: 80%;
}

.search-option {
    border: 1px solid #ccc;
    height: 42px;
    margin-bottom: 30px;
}

.search-option button {
    background: transparent none repeat scroll 0 0;
    border: medium none;
    font-size: 20px;
    padding: 8px 23px;
}

.search-option button:hover {
    color: #3ec1d5;
}

.left-blog h4 {
    border-bottom: 1px solid #ddd;
    color: #444;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 0;
    padding: 15px 10px;
    text-transform: uppercase;
}

.left-blog {
    background: #f9f9f9 none repeat scroll 0 0;
    margin-bottom: 30px;
    overflow: hidden;
    padding-bottom: 20px;
}

.left-blog li {
    border-bottom: 1px solid #ddd;
    display: block;
}

.left-blog ul li a:hover {
}

.left-blog ul li a {
    color: #444;
    display: block;
    font-size: 14px;
    padding: 10px;
    text-transform: capitalize;
}

.recent-single-post {
    border-bottom: 1px solid #ddd;
    display: block;
    overflow: hidden;
    padding: 15px 10px;
}

.ready-btn {
    border: 1px solid #fff;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 17px;
    font-weight: 600;
    margin-top: 30px;
    padding: 12px 40px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.4s ease 0s;
    z-index: 222;
}

.ready-btn:hover {
    color: #fff;
    background: #3EC1D5;
    border: 1px solid #3EC1D5;
    text-decoration: none;
}

.post-img {
    display: inline-block;
    float: left;
    padding: 0 5px;
    width: 35%;
}

.pst-content {
    display: inline-block;
    float: left;
    width: 65%;
}

.pst-content p a:hover, .left-blog ul li a:hover {
    color: #3EC1D5;
}

.blog-page .single-blog {
    margin-bottom: 40px;
}

.pst-content p a {
    color: #444;
    font-size: 15px;
}

.header-bottom h1, .header-bottom h2 {
    color: #fff;
}

.blog-tags {
    padding: 1px 0;
}

.left-blog li:last-child {
    border-bottom: 0;
}

.popular-tag.left-blog ul li a:hover {
    color: #fff;
}

.popular-tag.left-side-tags.left-blog ul {
    padding: 0 10px;
}

.blog-1 .banner-box {
    margin-bottom: 30px;
}

.left-tags .left-side-tags ul li {
    border-bottom: 0;
}

.left-tags .left-side-tags ul li a {
    padding: 3px 10px;
    width: auto;
}

.left-side-tags h4 {
    margin-bottom: 15px;
}

/*----------------------------------------*/

/*  19.	Blog Details css
/*----------------------------------------*/

.post-information h2 {
    color: #363636;
    font-size: 22px;
    text-transform: uppercase;
}

.post-information {
    padding: 20px 0;
}

.post-information .entry-meta span a {
    color: #444;
    display: inline-block;
    padding: 10px 0;
}

.entry-meta span a:hover {
    color: #3EC1D5;
}

.post-information .entry-meta {
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

.post-information .entry-meta span i {
    padding: 0 10px;
}

.entry-content > p {
    color: #444;
}

.entry-meta > span {
    color: #444;
}

.entry-content blockquote {
    background: #fff none repeat scroll 0 0;
    border-left: 5px solid #3EC1D5;
    font-size: 17.5px;
    font-style: italic;
    margin: 0 0 20px 40px;
    padding: 22px 20px;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #3EC1D5;
    border-color: #3EC1D5;
    color: #fff;
    cursor: default;
    z-index: 3;
}

.social-sharing {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    display: block;
    margin: 30px 0;
}

.social-sharing > h3 {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    padding: 20px 10px;
}

.sharing-icon {
    display: inline-block;
    float: right;
    padding: 13px 10px;
}

.sharing-icon a {
    border: 1px solid #444;
    color: #444;
    display: block;
    float: left;
    font-size: 18px;
    height: 34px;
    line-height: 30px;
    margin-left: 10px;
    text-align: center;
    width: 34px;
}

.sharing-icon a:hover {
    color: #3EC1D5;
    border: 1px solid #3EC1D5;
}

.single-blog .author-avatar {
    float: left;
    margin-right: 10px;
}

.single-blog .author-description h2 {
    font-size: 18px;
    margin: 0;
    padding: 0 0 5px;
}

.author-info {
    background: #fff none repeat scroll 0 0;
    float: left;
    margin: 30px 0;
    padding: 15px;
    width: 100%;
}

.single-post-comments {
    margin-bottom: 60px;
    max-width: 650px;
}

.comments-heading h3, h3.comment-reply-title {
    border-bottom: 1px solid #e8e8e9;
    color: #444;
    font-size: 18px;
    margin: 0 0 20px;
    padding: 0 0 5px;
    text-transform: uppercase;
}

.comments-list ul li {
    margin-bottom: 25px;
}

.comments-list-img {
    float: left;
    margin-right: 15px;
}

.comments-content-wrap {
    color: #42414f;
    font-size: 12px;
    line-height: 1;
    margin: 0 0 15px 80px;
    padding: 10px;
    position: relative;
}

.author-avatar {
    display: inline-block;
    float: left;
    width: 10%;
}

.author-description h2 {
    color: #777;
    font-size: 20px;
    text-transform: uppercase;
}

.author-description h2 a {
    color: #000;
}

.comments-content-wrap span b {
    margin-right: 5px
}

.comments-content-wrap span a:hover {
}

span.post-time {
    margin-right: 5px
}

.comments-content-wrap p {
    color: #909295;
    line-height: 18px;
    margin-bottom: 5px;
    margin-top: 15px;
}

li.threaded-comments {
    margin-left: 50px
}

.comment-respond {
    margin-top: 60px;
}

h3.comment-reply-title {
}

span.email-notes {
    color: #42414f;
    display: block;
    font-size: 12px;
    margin-bottom: 10px;
}

.comment-respond p {
    color: #444;
    margin-bottom: 5px;
}

.comment-respond input[type=text], .comment-respond input[type=email] {
    border: 1px solid #e5e5e5;
    border-radius: 0;
    height: 32px;
    margin-bottom: 15px;
    padding: 0 0 0 10px;
    width: 100%;
}

.comment-respond textarea#message-box {
    border: 1px solid #e5e5e5;
    border-radius: 0;
    max-width: 100%;
    padding: 10px;
    height: 130px;
    width: 100%;
}

.comment-respond input[type="submit"] {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #3ec1d5;
    border-radius: 20px;
    box-shadow: none;
    color: #444;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    height: 40px;
    line-height: 14px;
    margin-top: 20px;
    padding: 10px 15px;
    text-shadow: none;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    white-space: nowrap;
}

.comments-content-wrap span a {
    color: #000;
}

.comments-content-wrap span a:hover {
    color: #3EC1D5;
}

.comment-respond input[type=submit]:hover {
    border: 1px solid #3EC1D5;
    color: #fff;
    background: #3EC1D5;
}

.single-blog .blog-pagination {
    border-top: 1px solid #e5e5e5;
    margin: 0;
    padding-top: 30px;
}

/*----------------------------------------
 .End CSS
----------------------------------------*/
